<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citic.mapper.WalletAccountMapper">

	<sql id="selectId">
		DATE_FORMAT(MAX(order_finish_date),'%Y年%m月%d日') order_finish_date
	</sql>

	<update id="updateMatchData" >
	UPDATE t_wallet_account wa
	INNER JOIN t_bank_detail bd  ON (
		bd.purpose = wa.bank_order
	)
	SET wa.check_amount = bd.borrow_amount
	WHERE
		wa.check_result = 0
	</update>
	<update id="updateChkResult">
		UPDATE
		t_wallet_account wa
		SET wa.check_result = IF(wa.check_amount IS
		NULL OR wa.amount IS NULL,0,CASE
		WHEN wa.amount - wa.check_amount = 0 THEN
		1
		ELSE
		2
		END)
		where wa.check_result=0
	</update>
	<select id="getClosingDate"  resultType="com.citic.entity.WalletAccountFromMap">
		SELECT <include refid="selectId" /> FROM `t_wallet_account`
	</select>
</mapper>